# Postgres configuration
POSTGRES_USER=legalflow_admin
POSTGRES_PASSWORD=change_me_in_local_only
POSTGRES_DB=legalflow_prod

# MinIO configuration
MINIO_ROOT_USER=admin_minio
MINIO_ROOT_PASSWORD=change_me_in_local_only
 
# App configuration 
DATABASE_URL=postgresql://legalflow_admin:change_me_in_local_only@postgres:5432/legalflow_prod?schema=public 
JWT_SECRET=dummy_secret_do_not_use_in_prod
 
FRONTEND_ORIGIN=http://127.0.0.1:8080 
MINIO_ENDPOINT=minio
